/*数字角标*/
.badge {
    position: absolute;
    right: -4px;
    top: 8px;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    padding: 2px 4px 3px;
    border-radius: 100px;
    color: #fff;
    background: #df3e3e;
    font-weight: normal;
    font-style: normal;
}
.point {
    display: inline-block;
    position: absolute;
    right: -4px;
    top: 8px;
    font-size: 0;
    padding: 4px;
    border-radius: 100px;
    background: #df3e3e;
}
/*triangle arrow*/
.triangle-arrow {
    display:block;
    border-width:7px;
    position:absolute;
    font-size:0;
    line-height:0;
}

.triangle-arrow:after {
    content:'';
    display:block;
    border-width:7px;
    position:absolute;
    font-size:0;
    line-height:0;
}

.triangle-arrow-up {
    top:-14px;
    left: 50%;
    margin-left: -4px;
    border-style:solid dashed dashed;
    border-color:transparent transparent #e8e8e8;
    composes: triangle-arrow;
}
.triangle-arrow-up:after {
    top: -5px;
    left: 50%;
    margin-left: -7px;
    border-style:solid dashed dashed;
    border-color:transparent transparent #fff;
}

.triangle-arrow-down {
    bottom:-14px;
    left: 50%;
    margin-left: -4px;
    border-style:solid dashed dashed;
    border-color:#e8e8e8 transparent transparent;
    composes: triangle-arrow;
}
.triangle-arrow-down:after {
    bottom: -5px;
    left: 50%;
    margin-left: -7px;
    border-style:solid dashed dashed;
    border-color:#fff transparent transparent;
}

.triangle-arrow-left {
    left:-14px;
    top:50%;
    margin-top:-10px;
    border-style:dashed solid dashed dashed;
    border-color:transparent #e8e8e8 transparent transparent;
    composes: triangle-arrow;
}
.triangle-arrow-left:after {
    left: -5px;
    top: 50%;
    margin-top: -7px;
    border-style: dashed solid dashed dashed;
    border-color:transparent #fff transparent transparent;
}

.triangle-arrow-right {
    right:-14px;
    top:50%;
    margin-top:-10px;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #e8e8e8 transparent;
    composes: triangle-arrow;
}
.triangle-arrow-right:after {
    right: -5px;
    top: 50%;
    margin-top: -7px;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #fff transparent;
}
